# Homework 1 (100 points)

The goal of this homework is to practice using [pandas](https://pypi.org/project/pandas/) methods. If your:

1. code is taking a long time to run
2. code involves for loops or while loops

look through the pandas documentation for alternatives.

## Exercise 1 (60 points)

This exercise will use the [Titanic dataset](https://www.kaggle.com/c/titanic/data) (https://www.kaggle.com/c/titanic/data). Download the file named `train.csv` and place it in the same folder as this notebook.

a) Write a function that reads in a filepath to a csv and returns the DataFrame. (5 points)

In [1]:
import pandas as pd

df = pd.read_csv ('file_name.csv')
df.describe()

ModuleNotFoundError: No module named 'pandas'

b) Write a function that returns the number of rows that have at least one empty column value - (2.5 points)

In [ ]:
def num_nans(df):
    nf = df(df.isnull().any(axis=1))
    return len(nf)

print("there are " +  str(num_nans(df)) + " rows with at least one empty value")

c) Write a function that removes all columns with more than 200 NaN values - (2.5 points)

In [ ]:
def drop_na(df):
    return  df.dropna(axis = 1, thresh = 691)

df = drop_na(df)
df.columns

d) Write a function that replaces `male` with 0 and `female` with 1 - (2.5 points)

In [ ]:
def to_numerical(df):
    func = df.get('Sex')
    func = func.replace(toreplace= 'female',value = 1)
    func = func.replace(toreplace= 'male', value = 0)
    return func

df['Sex'] = to_numerical(df)
df.head()

e)  Write a function that adds four columns `First Name`, `Middle Name`, `Last Name`, and `Title` corresponding to the value in the `name` column. - (5 points) 

For example: `Braund, Mr. Owen Harris` would be: 

|First Name | Middle Name | Last Name | Title |
|-----------|-------------|-----------|-------|
| Owen      |  Harris     |  Braund   | Mr    |

In [ ]:
def extract_names (df):
    names = df.get("Name")
    col = pd.DataFrame(columns =['First Name', 'Middle Name','Last Name', 'Title' ] )
    names = names.str.split(",", n=1)
    names = pd.DataFrame(names.tolist(), index = names.index)
    names[1] = names[1].str.split('.',n=1)
    names[[1,2]]= pd.DataFrame(names[1].tolist(), index = names.index)
    names[2]= names[2].str.split(n=1)
    names[[2,3]] = pd.DataFrame(names[2].tolist(), index = names.index)

    col['First Name'] = names[2]
    col[ 'Middle Name'] = names[3]
    col[ 'Last Name'] = names[0]
    col['Title' ] = names[1]

df[['First Name', 'Middle Name', 'Last Name', 'Title']] = extract_names(df)
df.head()

f) Write a function that replaces all missing ages with the average age - (2.5 points)

In [ ]:
def replace_with_mean(df):
    hd= df.get('Age')
    avga= hd.mean()
    hd= hd.replace(to_replace=np.nan, value=avga)
    return hd
    
df['Age'] = replace_with_mean(df)
df.head()

The next set of questions focus on visualization. Please use pandas and [matplotlib](https://pypi.org/project/matplotlib/) for all plotting.

g) Plot a bar chart of the average age of those that survived and did not survive. Briefly comment on what you observe. - (2.5 points)

In [ ]:
total_survived= df[(df['Survived']==1)]
total_died=df[(df['Survived']==0)]

avgS=(total_survived['Fare']).mean()
avgD=(total_died['Fare']).mean

plt.figure(figsize=(10,5))

plt.title("Avg fare survived vs dead")

The ones who survived paid more than the ones who died

h) Plot a bar chart of the proportion that survived for male and female. Briefly comment on what you observe. - (2.5 points)

In [ ]:
total_survived = df[df['Survived'] == 1].get('Sex').count()
female_survived = df[df['Survived'] == 1].get('Sex').sum() / total_survived
male_survived = (total_survived - (female_survived * total_survived)) / total_survived

df = pd.DataFrame({'Survival' : ['Male', 'Female'], 'Proportion' : [male_survived, female_survived]})
df.plot.bar(x = 'Survival', y = 'Proportion')

-> your answer here

i) Plot a bar chart of the proportion that survived for each title. Briefly comment on what you observe. - (5 points)

In [ ]:
# your code here

-> your answer here

j) Plot a bar chart of the average fare for those that survived and those that did not survive. Briefly comment on what you observe. - (5 points)

In [ ]:
survived = df[(df['Survived'] == 1)]
died = df[(df['Survived'] == 0)]
avgS = (survived['Age']).mean()
avgD = (died['Age']).mean()
x = ''
plt.bar('survived', avgS)
plt.bar('died',avgD)

-> your answer here

k) Create a boxplot for the fare of those that survived and those that did not survive. Briefly comment on what you observe. - (5 points)

In [ ]:
# your code here

-> your answer here

k) Create a function to subtract the mean fare from the actual fare then divide by the standard deviation - (2.5 points)

In [ ]:
def norm_fare(df):
    far = df.get('Fare')
    average = far.mean()
    std = far.std()
    far = far.sub(average)
    far = far.div(std)
    return far

df['Fare'] = norm_fare(df)
df.head()

l) Remove all non-numerical columns from the dataframe. - (2.5 points)

In [ ]:
df = df.select_dtypes(include = 'number')

m) Ignoring passenger ID, write a function that returns the names of the N most similar pairs of passengers using the euclidean distance? - (15 points)

In [ ]:
def N_most_similar_pairs(df, N):
    return # < your code here >

print("The 3 most similar passengers are: " + str(N_most_similar_pairs(df, 3)))

## Exercise 2 - (40 points)

Another way to get data is by using APIs. Here we will be using the google books API (https://developers.google.com/books/docs/overview)

a) Create a list with these topic strings: Python; Data Science; Data Analysis; Machine Learning; and Deep 
Learning. Use these topics, one at a time, to query the Google Books API by modifying the code below. - (5 points)

In [7]:
import requests
import json

"""
    Google Books Api
    See: https://developers.google.com/books/
"""

def get(topic=""):
    BASEURL = 'https://www.googleapis.com/books/v1/volumes'
    headers = {'Content-Type': 'application/json'}

    response = requests.get(BASEURL + "?q=" + topic, headers=headers)

    if response.status_code == 200:
        return json.loads(response.content.decode('utf-8'))

    return response

python = get("Python")
data_science = get(topic="Data Science")
data_analytics = get(topic="Data Analysis")
machine_learning = get(topic= 'Machine Learning')
deep_learning = get(topic="Deep Learning")

b) For each returned JSON string: Convert the JSON string to a dict using `loads( )` then use this to convert it to a DataFrame: `pd.json_normalize( thedict['items'] )`. Then save them as `.csv`. - (5 points)

In [10]:
pythnorm= pd.json_normalize(python['items'])
dsnorma= pd.json_normalize(data_science['items'])
danonorma= pd.json_normalize(data_analytics['items'])
machlearnnorm=pd.json_normalize(machine_learning['items'])
deepleaarnnorm= pd.json_normalize(deep_learning['items'])

pythnorm.to_csv('Cpython.csv',encoding='utf-8')
dsnorma.to_csv('CDataScience.csv',encoding='utf-8')
danonorma.to_csv('CDataAnalytics.csv',encoding='utf-8')
machlearnnorm.to_csv('CMachineLearning.csv',encoding='utf-8')
deepleaarnnorm.to_csv('CDeepLearning.csv',encoding='utf-8')

c) For each DataFrame, relabel `volumeInfo.title` as `Title` and `volumeInfo.authors` as `Authors`. - (5 points)

In [ ]:
pythnorm.rename(columns={'volumeInfo.title':'Title', 'volumeInfo.authors':'Authors'})
dsnorma.rename(columns={'volumeInfo.title':'Title', 'volumeInfo.authors':'Authors'})
danonorma.rename(columns={'volumeInfo.title':'Title', 'volumeInfo.authors':'Authors'})
machlearnnorm.rename(columns={'volumeInfo.title':'Title', 'volumeInfo.authors':'Authors'})
deepleaarnnorm.rename(columns={'volumeInfo.title':'Title', 'volumeInfo.authors':'Authors'})

d) For each DataFrame create a new column called `Topic` with the name of the topic from the API query above. Then merge all DataFrames into one and save it to a new `.csv` file. - (10 points)

In [ ]:
pythnorm['Topic']='Python'
dsnorma['Topic']=' Data Science '
danonorma['Topic']=' Data Analytics '
machlearnnorm['Topic']=' Machine Learning '
deepleaarnnorm['Topic']=' Deep Learning '

framing=[pythnorm,dsnorma,danonorma,machlearnnorm,deepleaarnnorm]
file= pd.concat(framing)
file.to_csv('alltopics.csv',encoding='utf-8')
file= file.rename(columns={'volumeInfo.title':'Title', 'volumeInfo.authors':'Authors'})

e) Write a function that returns all rows whose `Title` contains the word `Data` (case incensitive). - (5 points)

In [ ]:
newtit=file[file['Title'].str.contains('Data')]
print(newtit)

f) Write a function that returns all rows whose `Authors` first or last name starts with the letter `E` - (10 points)

In [ ]:
def eAuthors(df):
    auth = df
    auth['Authors'] = df.get('Authors').astype('string')
    auth = auth[auth['Authors'].str.contains('E')]
    return auth